{
.formatVersion = 3;
DisplayStrings = (
"½"
);
familyName = ISRU;
customParameters = (
{
name = glyphOrder;
value = (
.notdef,
A,
B,
C,
D,
E,
F,
H,
K,
L,
M,
J,
G,
I,
N,
O,
Q,
R,
T,
U,
V,
X,
Y,
S,
Z,
W,
P,
two,
three,
six,
seven,
eight,
nine,
one,
four,
zero,
five,
question,
backslash,
asterisk,
period,
comma,
colon,
semicolon,
exclam,
quotesingle,
quotedbl,
ampersand,
at,
dollar,
percent,
parenright,
numbersign,
equal,
parenleft,
slash,
space,
fraction,
questiondown,
exclamdown,
periodcentered,
trademark,
registered,
onesuperior,
twosuperior,
threesuperior,
Euro,
Euro.ss01,
sterling,
cent,
dagger,
daggerdbl,
braceleft,
braceright,
bracketleft,
bracketright,
bar,
asciicircum,
ogonek,
ellipsis,
bullet,
endash,
underscore,
hyphen,
plus,
tilde,
less,
greater,
divide,
minus,
plusminus,
multiply,
copyright,
macron,
emdash,
guilsinglleft,
guillemotleft,
guillemotright,
asciitilde,
guilsinglright,
circumflex,
caron,
dotaccent,
breve,
dotlessi,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
f,
a,
b,
c,
d,
e,
g,
h,
j,
k,
l,
m,
i,
p,
n,
o,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
quotedblbase,
quotesinglbase,
a.ss01,
b.ss01,
c.ss01,
d.ss01,
e.ss01,
f.ss01,
g.ss01,
h.ss01,
i.ss01,
j.ss01,
k.ss01,
l.ss01,
m.ss01,
n.ss01,
o.ss01,
p.ss01,
q.ss01,
r.ss01,
s.ss01,
t.ss01,
u.ss01,
v.ss01,
w.ss01,
x.ss01,
y.ss01,
z.ss01,
a.ss02,
b.ss02,
c.ss02,
d.ss02,
e.ss02,
f.ss02,
g.ss02,
h.ss02,
i.ss02,
j.ss02,
k.ss02,
n.ss02,
o.ss02,
p.ss02,
q.ss02,
r.ss02,
s.ss02,
t.ss02,
u.ss02,
v.ss02,
w.ss02,
x.ss02,
y.ss02,
z.ss02,
l.ss02,
m.ss02,
O_B_I,
I_S_R_U,
N_I_K_E_C_R_A_F_T,
NIKELOGO,
OUT_AND_BACK,
TEN_FREE_THROWS,
WALL_DRAWING,
READ_BEFORE_BED,
yen,
onequarter,
onehalf,
threequarters,
perthousand,
degree,
ring,
grave,
acute,
dieresis,
brokenbar,
hungarumlaut,
florin,
currency,
ordfeminine,
ordmasculine,
cedilla,
mu,
section,
paragraph,
logicalnot,
bullet.ss01,
bullet.ss02,
bullet.ss03,
bullet.ss04,
bullet.ss05,
bullet.ss06,
bullet.ss07,
bullet.ss08,
bullet.ss09,
bullet.ss10,
n.ss03,
o.ss03,
a.ss03,
i.ss03,
e.ss03,
p.ss03,
b.ss03,
c.ss03,
d.ss03,
l.ss03,
h.ss03,
k.ss03,
m.ss03,
u.ss03,
r.ss03,
f.ss03,
s.ss03,
z.ss03,
q.ss03,
g.ss03,
j.ss03,
t.ss03,
v.ss03,
y.ss03,
w.ss03,
x.ss03,
one.ss01,
two.ss01,
three.ss01,
four.ss01,
five.ss01,
six.ss01,
seven.ss01,
eight.ss01,
nine.ss01,
zero.ss01,
one.ss02,
two.ss02,
three.ss02,
four.ss02,
five.ss02,
six.ss02,
eight.ss02,
nine.ss02,
zero.ss02,
seven.ss02,
one.ss03,
two.ss03,
three.ss03,
four.ss03,
five.ss03,
six.ss03,
seven.ss03,
eight.ss03,
nine.ss03,
zero.ss03
);
}
);
featurePrefixes = (
{
code = "###
# OpenType Layout feature definitions
# Format: Adobe FDK for OpenType (AFDKO) version 2.5
# Generated on: 2025-8-19 11:33
# Generated by: FontLab 8.0.0
# Font PostScript name: Rocket Sharpie Bold
#
# Totals:
# Languagesystems: 0
# GSUB lookups: 0
# GPOS lookups: 0

#
# Languagesystem definitions
#

#> languagesystem
languagesystem DFLT dflt;
languagesystem latn dflt;
languagesystem grek dflt;
#< languagesystem


#
# Lookup definitions
#
# OpenType Pseudorandom CALT Feature
# Generated for FontLab 8
# Copy this code into your font's calt feature
";
tag = Languagesystems;
}
);
features = (
{
code = "sub bracketleft O B I bracketright by O_B_I;
	sub bracketleft N I K E C R A F T bracketright by N_I_K_E_C_R_A_F_T;
	sub bracketleft I S R U bracketright by I_S_R_U;
	sub bracketleft N I K E L O G O bracketright by NIKELOGO;
	sub bracketleft O U T A N D B A C K bracketright by OUT_AND_BACK;
	sub bracketleft T E N bracketright by TEN_FREE_THROWS;
	sub bracketleft W A L L bracketright by WALL_DRAWING;
	sub bracketleft R E A D bracketright by READ_BEFORE_BED;";
tag = liga;
},
{
code = "@transformation0 = [a b c d e f g h i j k l m n o p q r s t u v w x y z zero one two three four five six seven eight nine];
	@transformation1 = [a.ss01 b.ss01 c.ss01 d.ss01 e.ss01 f.ss01 g.ss01 h.ss01 i.ss01 j.ss01 k.ss01 l.ss01 m.ss01 n.ss01 o.ss01 p.ss01 q.ss01 r.ss01 s.ss01 t.ss01 u.ss01 v.ss01 w.ss01 x.ss01 y.ss01 z.ss01 zero.ss01 one.ss01 two.ss01 three.ss01 four.ss01 five.ss01 six.ss01 seven.ss01 eight.ss01 nine.ss01];
	@transformation2 = [a.ss02 b.ss02 c.ss02 d.ss02 e.ss02 f.ss02 g.ss02 h.ss02 i.ss02 j.ss02 k.ss02 l.ss02 m.ss02 n.ss02 o.ss02 p.ss02 q.ss02 r.ss02 s.ss02 t.ss02 u.ss02 v.ss02 w.ss02 x.ss02 y.ss02 z.ss02 zero.ss02 one.ss02 two.ss02 three.ss02 four.ss02 five.ss02 six.ss02 seven.ss02 eight.ss02 nine.ss02];
	@transformation3 = [a.ss03 b.ss03 c.ss03 d.ss03 e.ss03 f.ss03 g.ss03 h.ss03 i.ss03 j.ss03 k.ss03 l.ss03 m.ss03 n.ss03 o.ss03 p.ss03 q.ss03 r.ss03 s.ss03 t.ss03 u.ss03 v.ss03 w.ss03 x.ss03 y.ss03 z.ss03 zero.ss03 one.ss03 two.ss03 three.ss03 four.ss03 five.ss03 six.ss03 seven.ss03 eight.ss03 nine.ss03];

	@state0 = [@transformation0 @transformation1 @transformation2 @transformation3];
	@state1 = [@transformation1 @transformation2 @transformation3 @transformation0];
	@state2 = [@transformation2 @transformation3 @transformation0 @transformation1];
	@state3 = [@transformation3 @transformation0 @transformation1 @transformation2];

	@partition0 = [c.ss01 c.ss02 d f.ss02 f.ss03 five.ss03 four h.ss03 i.ss02 j.ss03 k.ss03 l m.ss01 n nine nine.ss01 nine.ss03 o.ss02 one.ss03 p.ss01 p.ss02 p.ss03 q q.ss02 r.ss02 r.ss03 s.ss01 s.ss02 seven.ss02 six t.ss03 x.ss01 z.ss01 z.ss02 zero zero.ss03];
	@partition1 = [a.ss02 a.ss03 b c.ss03 d.ss02 d.ss03 e e.ss01 e.ss03 eight eight.ss01 eight.ss03 f four.ss02 g g.ss01 h.ss02 i j.ss01 j.ss02 k l.ss02 m.ss03 one.ss01 p q.ss03 s six.ss01 six.ss02 six.ss03 three.ss02 v.ss02 w w.ss01 w.ss02 x];
	@partition2 = [a.ss01 b.ss01 b.ss02 c d.ss01 e.ss02 five.ss01 five.ss02 four.ss03 g.ss02 i.ss03 k.ss01 k.ss02 l.ss01 l.ss03 m.ss02 n.ss01 n.ss03 o.ss01 one q.ss01 r.ss01 seven.ss03 t.ss01 t.ss02 two two.ss02 two.ss03 u u.ss02 v v.ss01 v.ss03 y z z.ss03];
	@partition3 = [a b.ss03 eight.ss02 f.ss01 five four.ss01 g.ss03 h h.ss01 i.ss01 j m n.ss02 nine.ss02 o o.ss03 one.ss02 r s.ss03 seven seven.ss01 t three three.ss01 three.ss03 two.ss01 u.ss01 u.ss03 w.ss03 x.ss02 x.ss03 y.ss01 y.ss02 y.ss03 zero.ss01 zero.ss02];

	@All = [a b c d e f g h i j k l m n o p q r s t u v w x y z zero one two three four five six seven eight nine a.ss01 b.ss01 c.ss01 d.ss01 e.ss01 f.ss01 g.ss01 h.ss01 i.ss01 j.ss01 k.ss01 l.ss01 m.ss01 n.ss01 o.ss01 p.ss01 q.ss01 r.ss01 s.ss01 t.ss01 u.ss01 v.ss01 w.ss01 x.ss01 y.ss01 z.ss01 zero.ss01 one.ss01 two.ss01 three.ss01 four.ss01 five.ss01 six.ss01 seven.ss01 eight.ss01 nine.ss01 a.ss02 b.ss02 c.ss02 d.ss02 e.ss02 f.ss02 g.ss02 h.ss02 i.ss02 j.ss02 k.ss02 l.ss02 m.ss02 n.ss02 o.ss02 p.ss02 q.ss02 r.ss02 s.ss02 t.ss02 u.ss02 v.ss02 w.ss02 x.ss02 y.ss02 z.ss02 zero.ss02 one.ss02 two.ss02 three.ss02 four.ss02 five.ss02 six.ss02 seven.ss02 eight.ss02 nine.ss02 a.ss03 b.ss03 c.ss03 d.ss03 e.ss03 f.ss03 g.ss03 h.ss03 i.ss03 j.ss03 k.ss03 l.ss03 m.ss03 n.ss03 o.ss03 p.ss03 q.ss03 r.ss03 s.ss03 t.ss03 u.ss03 v.ss03 w.ss03 x.ss03 y.ss03 z.ss03 zero.ss03 one.ss03 two.ss03 three.ss03 four.ss03 five.ss03 six.ss03 seven.ss03 eight.ss03 nine.ss03];

	@skip = [@All];

	lookup skip9_partition0 {
		sub @partition3 @skip @skip @skip @skip @skip @skip @skip @skip @skip @state0' by @state1;
	} skip9_partition0;

	lookup skip9_partition1 {
		sub @partition2 @skip @skip @skip @skip @skip @skip @skip @skip @skip @state1' by @state2;
	} skip9_partition1;

	lookup skip9_partition2 {
		sub @partition1 @skip @skip @skip @skip @skip @skip @skip @skip @skip @state2' by @state3;
	} skip9_partition2;

	lookup skip9_partition3 {
		sub @partition0 @skip @skip @skip @skip @skip @skip @skip @skip @skip @state3' by @state0;
	} skip9_partition3;



	lookup skip8_partition0 {
		sub @partition3 @skip @skip @skip @skip @skip @skip @skip @skip @state0' by @state1;
	} skip8_partition0;

	lookup skip8_partition1 {
		sub @partition2 @skip @skip @skip @skip @skip @skip @skip @skip @state1' by @state2;
	} skip8_partition1;

	lookup skip8_partition2 {
		sub @partition1 @skip @skip @skip @skip @skip @skip @skip @skip @state2' by @state3;
	} skip8_partition2;

	lookup skip8_partition3 {
		sub @partition0 @skip @skip @skip @skip @skip @skip @skip @skip @state3' by @state0;
	} skip8_partition3;



	lookup skip7_partition0 {
		sub @partition3 @skip @skip @skip @skip @skip @skip @skip @state0' by @state1;
	} skip7_partition0;

	lookup skip7_partition1 {
		sub @partition2 @skip @skip @skip @skip @skip @skip @skip @state1' by @state2;
	} skip7_partition1;

	lookup skip7_partition2 {
		sub @partition1 @skip @skip @skip @skip @skip @skip @skip @state2' by @state3;
	} skip7_partition2;

	lookup skip7_partition3 {
		sub @partition0 @skip @skip @skip @skip @skip @skip @skip @state3' by @state0;
	} skip7_partition3;



	lookup skip6_partition0 {
		sub @partition3 @skip @skip @skip @skip @skip @skip @state0' by @state1;
	} skip6_partition0;

	lookup skip6_partition1 {
		sub @partition2 @skip @skip @skip @skip @skip @skip @state1' by @state2;
	} skip6_partition1;

	lookup skip6_partition2 {
		sub @partition1 @skip @skip @skip @skip @skip @skip @state2' by @state3;
	} skip6_partition2;

	lookup skip6_partition3 {
		sub @partition0 @skip @skip @skip @skip @skip @skip @state3' by @state0;
	} skip6_partition3;



	lookup skip5_partition0 {
		sub @partition3 @skip @skip @skip @skip @skip @state0' by @state1;
	} skip5_partition0;

	lookup skip5_partition1 {
		sub @partition2 @skip @skip @skip @skip @skip @state1' by @state2;
	} skip5_partition1;

	lookup skip5_partition2 {
		sub @partition1 @skip @skip @skip @skip @skip @state2' by @state3;
	} skip5_partition2;

	lookup skip5_partition3 {
		sub @partition0 @skip @skip @skip @skip @skip @state3' by @state0;
	} skip5_partition3;



	lookup skip4_partition0 {
		sub @partition3 @skip @skip @skip @skip @state0' by @state1;
	} skip4_partition0;

	lookup skip4_partition1 {
		sub @partition2 @skip @skip @skip @skip @state1' by @state2;
	} skip4_partition1;

	lookup skip4_partition2 {
		sub @partition1 @skip @skip @skip @skip @state2' by @state3;
	} skip4_partition2;

	lookup skip4_partition3 {
		sub @partition0 @skip @skip @skip @skip @state3' by @state0;
	} skip4_partition3;



	lookup skip3_partition0 {
		sub @partition3 @skip @skip @skip @state0' by @state1;
	} skip3_partition0;

	lookup skip3_partition1 {
		sub @partition2 @skip @skip @skip @state1' by @state2;
	} skip3_partition1;

	lookup skip3_partition2 {
		sub @partition1 @skip @skip @skip @state2' by @state3;
	} skip3_partition2;

	lookup skip3_partition3 {
		sub @partition0 @skip @skip @skip @state3' by @state0;
	} skip3_partition3;



	lookup skip2_partition0 {
		sub @partition3 @skip @skip @state0' by @state1;
	} skip2_partition0;

	lookup skip2_partition1 {
		sub @partition2 @skip @skip @state1' by @state2;
	} skip2_partition1;

	lookup skip2_partition2 {
		sub @partition1 @skip @skip @state2' by @state3;
	} skip2_partition2;

	lookup skip2_partition3 {
		sub @partition0 @skip @skip @state3' by @state0;
	} skip2_partition3;



	lookup skip1_partition0 {
		sub @partition3 @skip @state0' by @state1;
	} skip1_partition0;

	lookup skip1_partition1 {
		sub @partition2 @skip @state1' by @state2;
	} skip1_partition1;

	lookup skip1_partition2 {
		sub @partition1 @skip @state2' by @state3;
	} skip1_partition2;

	lookup skip1_partition3 {
		sub @partition0 @skip @state3' by @state0;
	} skip1_partition3;



	lookup skip0_partition0 {
		sub @partition3  @state0' by @state1;
	} skip0_partition0;

	lookup skip0_partition1 {
		sub @partition2  @state1' by @state2;
	} skip0_partition1;

	lookup skip0_partition2 {
		sub @partition1  @state2' by @state3;
	} skip0_partition2;

	lookup skip0_partition3 {
		sub @partition0  @state3' by @state0;
	} skip0_partition3;

    # Cycle through bullet variations to prevent repetition
    lookup bullet_cycle {
        sub bullet bullet' by bullet.ss01;
        sub bullet.ss01 bullet' by bullet.ss02;
        sub bullet.ss02 bullet' by bullet.ss03;
        sub bullet.ss03 bullet' by bullet.ss04;
        sub bullet.ss04 bullet' by bullet.ss05;
        sub bullet.ss05 bullet' by bullet.ss06;
        sub bullet.ss06 bullet' by bullet.ss07;
        sub bullet.ss07 bullet' by bullet.ss08;
        sub bullet.ss08 bullet' by bullet.ss09;
        sub bullet.ss09 bullet' by bullet.ss10;
        sub bullet.ss10 bullet' by bullet;
    } bullet_cycle;";
tag = calt;
},
{
code = "# Stylistic Set 01
#> feature
  sub Euro by Euro.ss01;
  sub a by a.ss01;
  sub b by b.ss01;
  sub bullet by bullet.ss01;
  sub c by c.ss01;
  sub d by d.ss01;
  sub e by e.ss01;
  sub eight by eight.ss01;
  sub f by f.ss01;
  sub five by five.ss01;
  sub four by four.ss01;
  sub g by g.ss01;
  sub h by h.ss01;
  sub i by i.ss01;
  sub j by j.ss01;
  sub k by k.ss01;
  sub l by l.ss01;
  sub m by m.ss01;
  sub n by n.ss01;
  sub nine by nine.ss01;
  sub o by o.ss01;
  sub one by one.ss01;
  sub p by p.ss01;
  sub q by q.ss01;
  sub r by r.ss01;
  sub s by s.ss01;
  sub seven by seven.ss01;
  sub six by six.ss01;
  sub t by t.ss01;
  sub three by three.ss01;
  sub two by two.ss01;
  sub u by u.ss01;
  sub v by v.ss01;
  sub w by w.ss01;
  sub x by x.ss01;
  sub y by y.ss01;
  sub z by z.ss01;
  sub zero by zero.ss01;
#< feature";
tag = ss01;
},
{
code = "# Stylistic Set 02

#> feature
  sub a by a.ss02;
  sub b by b.ss02;
  sub bullet by bullet.ss02;
  sub c by c.ss02;
  sub d by d.ss02;
  sub e by e.ss02;
  sub eight by eight.ss02;
  sub f by f.ss02;
  sub five by five.ss02;
  sub four by four.ss02;
  sub g by g.ss02;
  sub h by h.ss02;
  sub i by i.ss02;
  sub j by j.ss02;
  sub k by k.ss02;
  sub l by l.ss02;
  sub m by m.ss02;
  sub n by n.ss02;
  sub nine by nine.ss02;
  sub o by o.ss02;
  sub one by one.ss02;
  sub p by p.ss02;
  sub q by q.ss02;
  sub r by r.ss02;
  sub s by s.ss02;
  sub seven by seven.ss02;
  sub six by six.ss02;
  sub t by t.ss02;
  sub three by three.ss02;
  sub two by two.ss02;
  sub u by u.ss02;
  sub v by v.ss02;
  sub w by w.ss02;
  sub x by x.ss02;
  sub y by y.ss02;
  sub z by z.ss02;
  sub zero by zero.ss02;
#< feature";
tag = ss02;
},
{
code = "# Stylistic Set 01–20

#> feature
  sub a by a.ss03;
  sub b by b.ss03;
  sub bullet by bullet.ss03;
  sub c by c.ss03;
  sub d by d.ss03;
  sub e by e.ss03;
  sub eight by eight.ss03;
  sub f by f.ss03;
  sub five by five.ss03;
  sub four by four.ss03;
  sub g by g.ss03;
  sub h by h.ss03;
  sub i by i.ss03;
  sub j by j.ss03;
  sub k by k.ss03;
  sub l by l.ss03;
  sub m by m.ss03;
  sub n by n.ss03;
  sub nine by nine.ss03;
  sub o by o.ss03;
  sub one by one.ss03;
  sub p by p.ss03;
  sub q by q.ss03;
  sub r by r.ss03;
  sub s by s.ss03;
  sub seven by seven.ss03;
  sub six by six.ss03;
  sub t by t.ss03;
  sub three by three.ss03;
  sub two by two.ss03;
  sub u by u.ss03;
  sub v by v.ss03;
  sub w by w.ss03;
  sub x by x.ss03;
  sub y by y.ss03;
  sub z by z.ss03;
  sub zero by zero.ss03;
#< feature";
tag = ss03;
}
);
fontMaster = (
{
customParameters = (
{
name = typoAscender;
value = 750;
},
{
name = typoDescender;
value = -250;
},
{
name = typoLineGap;
value = 100;
},
{
name = winAscent;
value = 750;
},
{
name = winDescent;
value = 250;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -100;
},
{
name = strikeoutPosition;
value = 300;
},
{
name = strikeoutSize;
value = 50;
},
{
name = subscriptXOffset;
value = 0;
},
{
name = subscriptXSize;
value = 650;
},
{
name = subscriptYOffset;
value = 75;
},
{
name = subscriptYSize;
value = 600;
},
{
name = superscriptXOffset;
value = 0;
},
{
name = superscriptXSize;
value = 650;
},
{
name = superscriptYOffset;
value = 350;
},
{
name = superscriptYSize;
value = 600;
},
{
name = hheaAscender;
value = 750;
},
{
name = hheaDescender;
value = -250;
},
{
name = hheaLineGap;
value = 100;
}
);
guides = (
{
position = "{0, 250}";
}
);
id = "6DC978D1-58EC-4728-9C90-896FC59D3452";
metricValues = (
{
pos = 750;
},
{
pos = 700;
},
{
pos = -250;
},
{
pos = 0;
},
{
pos = 500;
}
);
iconName = Light;
name = RocketSharpieFinePoint;
}
);
kerningLTR = {
"6DC978D1-58EC-4728-9C90-896FC59D3452" = {
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = descender;
},
{
type = "italic angle";
},
{
type = "x-height";
}
);
properties = (
{
key = designerURL;
value = "https://www.tomsachs.com/";
},
{
key = designers;
values = (
{
language = dflt;
value = "Tom Sachs x Omgitsu";
}
);
},
{
key = manufacturers;
values = (
{
language = dflt;
value = WDDG;
}
);
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"6DC978D1-58EC-4728-9C90-896FC59D3452" = {
};
};
};
versionMajor = 1;
versionMinor = 0;
}