(
.notdef,
A,
B,
C,
D,
E,
F,
H,
K,
L,
M,
J,
G,
I,
N,
O,
Q,
R,
T,
U,
V,
X,
Y,
S,
Z,
W,
P,
two,
three,
six,
seven,
eight,
nine,
one,
four,
zero,
five,
question,
backslash,
asterisk,
period,
comma,
colon,
semicolon,
exclam,
quotesingle,
quotedbl,
ampersand,
at,
dollar,
percent,
parenright,
numbersign,
equal,
parenleft,
slash,
space,
fraction,
questiondown,
exclamdown,
periodcentered,
trademark,
registered,
onesuperior,
twosuperior,
threesuperior,
Euro,
Euro.ss01,
sterling,
cent,
dagger,
daggerdbl,
braceleft,
braceright,
bracketleft,
bracketright,
bar,
asciicircum,
ogonek,
ellipsis,
bullet,
endash,
underscore,
hyphen,
plus,
tilde,
less,
greater,
divide,
minus,
plusminus,
multiply,
copyright,
macron,
emdash,
guilsinglleft,
guillemotleft,
guillemotright,
asciitilde,
guilsinglright,
circumflex,
caron,
dotaccent,
breve,
dotlessi,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
f,
a,
b,
c,
d,
e,
g,
h,
j,
k,
l,
m,
i,
p,
n,
o,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
quotedblbase,
quotesinglbase,
a.ss01,
b.ss01,
c.ss01,
d.ss01,
e.ss01,
f.ss01,
g.ss01,
h.ss01,
i.ss01,
j.ss01,
k.ss01,
l.ss01,
m.ss01,
n.ss01,
o.ss01,
p.ss01,
q.ss01,
r.ss01,
s.ss01,
t.ss01,
u.ss01,
v.ss01,
w.ss01,
x.ss01,
y.ss01,
z.ss01,
a.ss02,
b.ss02,
c.ss02,
d.ss02,
e.ss02,
f.ss02,
g.ss02,
h.ss02,
i.ss02,
j.ss02,
k.ss02,
n.ss02,
o.ss02,
p.ss02,
q.ss02,
r.ss02,
s.ss02,
t.ss02,
u.ss02,
v.ss02,
w.ss02,
x.ss02,
y.ss02,
z.ss02,
l.ss02,
m.ss02,
O_B_I,
I_S_R_U,
N_I_K_E_C_R_A_F_T,
NIKELOGO,
OUT_AND_BACK,
TEN_FREE_THROWS,
WALL_DRAWING,
READ_BEFORE_BED,
yen,
onequarter,
onehalf,
threequarters,
perthousand,
degree,
ring,
grave,
acute,
dieresis,
brokenbar,
hungarumlaut,
florin,
currency,
ordfeminine,
ordmasculine,
cedilla,
mu,
section,
paragraph,
logicalnot,
bullet.ss01,
bullet.ss02,
bullet.ss03,
bullet.ss04,
bullet.ss05,
bullet.ss06,
bullet.ss07,
bullet.ss08,
bullet.ss09,
bullet.ss10,
n.ss03,
o.ss03,
a.ss03,
i.ss03,
e.ss03,
p.ss03,
b.ss03,
c.ss03,
d.ss03,
l.ss03,
h.ss03,
k.ss03,
m.ss03,
u.ss03,
r.ss03,
f.ss03,
s.ss03,
z.ss03,
q.ss03,
g.ss03,
j.ss03,
t.ss03,
v.ss03,
y.ss03,
w.ss03,
x.ss03,
one.ss01,
two.ss01,
three.ss01,
four.ss01,
five.ss01,
six.ss01,
seven.ss01,
eight.ss01,
nine.ss01,
zero.ss01,
one.ss02,
two.ss02,
three.ss02,
four.ss02,
five.ss02,
six.ss02,
eight.ss02,
nine.ss02,
zero.ss02,
seven.ss02,
one.ss03,
two.ss03,
three.ss03,
four.ss03,
five.ss03,
six.ss03,
seven.ss03,
eight.ss03,
nine.ss03,
zero.ss03,
MEDICINE,
EXCELLENCE,
)
